.DS_Store
**/xcuserdata/
**/*.xcuserstate
DerivedData/
.build/
.venv/
optional-backend/.venv/
backend/node_modules/
backend/data/
__pycache__/
*.pyc
.idea/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.env
